.ShopDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 28px 12px;
}

.Title {
  grid-column: span 2;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--lighter-bg);
  margin-bottom: 24px;
  padding: 0 20px 6px;
  text-align: center;
}

.Image {
  width: 100%;
  max-height: 400px;
  width: auto;
}

.Discount {
  background-color: var(--accent-dark);
  position: absolute;
  top: 10px;
  left: -40px;
  padding: 12px 75px;
  transform: rotate(-45deg);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.Container {
  grid-column: span 2;
  margin: 0 auto;
}

.ActionContainer {
  grid-column: span 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.InformationContainer {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 6px 0 12px 0;
}

.PriceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.InitialPrice del {
  font-size: 0.9rem;
  opacity: 0.6;
}

.Price {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--accent);
}

.RatingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.Rating {
  font-size: 0.9rem;
  margin-left: 12px;
}

.TabBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Content {
  grid-column: span 2;
  margin-top: 24px;
}

.DetailsContainer {
  padding: 24px 72px;
}

.Description {
  font-size: 1.1em;
  line-height: 1.7em;
}

@media (max-width: 600px) {
  .Image {
    max-height: 300px;
    max-width: 90vw;
  }

  .InformationContainer {
    justify-content: space-between;
    margin: 12px;
  }

  .DetailsContainer {
    padding: 24px;
  }
}
