.ShopItem {
  padding: 18px 12px 12px 12px;
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.Image {
  object-fit: cover;
  width: 75vw;
  height: 75vw;
  max-width: 270px;
  max-height: 270px;
  margin: 0 auto;
}

.InformationContainer {
  padding: 4px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.Title {
  font-size: 1.2rem;
  grid-column: span 3;
  text-align: center;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--lighter-bg);
}

.PriceContainer {
  /* margin-right: 16px; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.RatingContainer {
  /* margin-right: 16px; */
  display: flex;
  align-items: center;

  grid-column: span 2;
}

.Rating {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-left: 8px;
}

.InitialPrice {
  font-size: 0.6rem;
  margin-right: 4px;
  opacity: 0.6;
}

.Price {
  font-size: 1.5rem;
  color: var(--accent);
  font-weight: bold;
  text-align: right;
}

.Button {
  margin: 12px auto;
}

.Discount {
  background-color: var(--accent-dark);
  position: absolute;
  top: 15px;
  left: -30px;
  padding: 4px 50px;
  transform: rotate(-45deg);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.Close {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 1.5rem;
}
