@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --accent: #f96d00;
  --accent-light: #f88f3f;
  --accent-dark: #ca5903;
  --dark-bg: #222831;
  --lighter-bg: #393e46;
  --darker-bg: #0d1116;
  --white: #f2f2f2;
  --error: #f91100;
  --error-transparent: #f91100a1;
}

* {
  font: 15px/1.5 Arial;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  outline: none;
  border: none;
}

body {
  background-color: var(--darker-bg);
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 24px;
  margin-top: 75px;
}

@media (min-width: 800px) {
  .container {
    width: 80%;
    margin-top: 75px;
  }
}
