.CartPreview {
  color: var(--accent-dark);
  position: relative;
  margin-right: 24px;
}

.Cart {
  font-size: 1.2rem;
}

.Cart:hover {
  color: var(--accent);
}

.CartContent {
  position: absolute;
  top: 32px;
  right: 0;
  width: 500px;
  max-width: 90vw;
  background-color: var(--lighter-bg);
  padding: 24px;
  color: var(--white);
}

@media (min-width: 700px) {
  .CartPreview {
    margin-right: 36px;
  }
}
