.CartPreview {
  color: var(--accent-dark);
  position: relative;
  margin-right: 24px;
}

.Cart {
  font-size: 1.2rem;
}

.Cart:hover {
  color: var(--accent);
}

.CartContent {
  position: absolute;
  top: 32px;
  right: 0;
  width: 500px;
  max-width: 90vw;
  background-color: var(--lighter-bg);
  padding: 24px;
  color: var(--white);
}

.Title {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--dark-bg);
}

.Item {
  display: flex;
  padding: 6px 2px;
}

.ItemTitle {
  margin-left: 8px;
}

.Total {
  text-align: right;
  font-size: 1.4rem;
  padding-top: 8px;
  margin-top: 8px;
  border-top: 1px solid var(--dark-bg);
}
.LinkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.Link {
  padding: 14px 32px;
  background-color: var(--accent-dark);
  color: var(--white);
  transition: all 0.1s ease-in;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.1rem;
}

.Link:hover {
  background-color: var(--accent);
}
@media (min-width: 700px) {
  .CartPreview {
    margin-right: 36px;
  }
}
