.Quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Quantity p {
  margin: 0;
  padding: 0;
}

.Value {
  padding: 6px;
}

.Quantity .Up,
.Down {
  color: var(--accent);
  cursor: pointer;
  font-size: 1.4rem;
}
.Quantity .Up:hover,
.Down:hover {
  color: var(--accent-dark);
}
