/* .Navbar {
  padding: 50px 0px;
  max-width: 300px;
  transform: translateX(0);
} */

.Navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  background-color: var(--dark-bg);
  padding: 50px 0;
  max-width: 300px;
  transform: translateX(-100vw);
}

.Auth {
  position: absolute;
  bottom: 10%;
  left: 30%;
  width: 40%;
}

.Link {
  display: block;
  color: var(--white);
  padding: 12px;
  background-color: var(--accent-dark);
  border-radius: 5px;
  text-align: center;
}

.Open {
  transform: translateX(0);
  animation: slide-right 0.3s ease-in;
}

.Closed {
  animation: slide-left 0.3s ease-in;
}

/* Close button */
.Close {
  color: var(--white);
  padding: 12px 18px;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

@keyframes slide-right {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@media (min-width: 800px) {
  .Close {
    display: none;
  }
  .Navbar {
    display: none;
  }
}
