.Modal {
  position: fixed;
  z-index: 500;
  background-color: var(--dark-bg);
  width: 70%;
  left: 15%;
  top: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 5px;
}

.Full {
  width: 90%;
  left: 5%;
  top: 5%;
  max-height: 90%;
  overflow-y: scroll;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
  .Full {
    width: 90%;
    left: 5%;
    top: 5%;
    max-height: 90%;
    overflow-y: scroll;
  }
}
