.Review {
  padding: 8px 12px;
  border-bottom: 2px solid var(--lighter-bg);
  margin-bottom: 12px;
}

.Title {
  font-size: 1.2rem;
  padding: 2px 4px;
  border-left: 3px solid var(--accent-dark);
}

.Details {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--lighter-bg);
}

.Rating {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
}
