.Review {
  padding: 16px 24px;
}

.TitleContainer {
  display: flex;
  justify-content: space-between;
}

.Title {
  font-size: 1.2rem;
  padding: 4px 0;
  position: relative;
}

.Title::before {
  content: '';
  position: absolute;
  top: 3px;
  left: -8px;
  height: 14px;
  width: 4px;
  border-radius: 2px;
  background-color: var(--accent);
}

.Details {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}

.Details p:first-child {
  padding-bottom: 4px;
}

.Rating {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .Review {
    padding: 6px;
  }
}
