.Card {
  background-color: var(--dark-bg);
  color: var(--white);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  overflow: hidden;
}
