.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
}

.Transparent {
  background-color: rgba(0, 0, 0, 0);
}

.Blurred {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 800px) {
  .OnlySmall {
    display: none;
  }
}
