.CartItem {
  padding: 8px;
  border-bottom: 1px solid var(--lighter-bg);
}

.Container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  padding-bottom: 12px;
}

.Title {
  padding-bottom: 8px;
  font-size: 1.2rem;
}
.Price {
  opacity: 0.8;
}

.Total {
  text-align: right;
  font-size: 1.1rem;
}
.Highlight {
  font-size: 1.2rem;
}
