.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  background-color: var(--dark-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LinkContainer {
  display: none;
}

.Link {
  color: var(--white);
  padding: 8px 12px;
  background-color: var(--accent-dark);
  border-radius: 5px;
  margin-right: 32px;
}

.Logout {
  color: var(--white);
  padding: 8px 12px;
  border-bottom: 1px solid var(--accent-dark);
  border-radius: 5px;
  margin-right: 32px;
}

@media (min-width: 800px) {
  .LinkContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
