.Close {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 1.5rem;
}

.ActionArea {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 12px;
  margin: 0 auto;
}
